In [48]:
import psycopg2

# Function to read database credentials from a file
def read_db_creds(file_path):
    creds = {}
    with open(file_path, 'r') as f:
        for line in f:
            key, value = line.strip().split('=')
            creds[key] = value
    return creds

# Read credentials from dbcreds.txt

creds = read_db_creds('dbcreds.txt')

# Extract the credentials
HOST = creds['host']
USER = creds['user']
PASSWORD = creds['password']
DATABASE = 'stuff'
PORT = int(creds['port'])

# Establish the connection
conn = psycopg2.connect(
    host=HOST,
    user=USER,
    password=PASSWORD,
    dbname=DATABASE,
    port=PORT
)

# Create a cursor object
cur = conn.cursor()

In [43]:
# Execute a SQL query
cur.execute("SELECT * FROM employee;")

# Fetch the results
rows = cur.fetchall()

# Print the results
for row in rows:
    print(row)

('E001', 'Arun', 50000, 'D001')
('E002', 'William', 45000, 'D002')
('E003', 'Ramesh', 45000, 'D004')
('E004', 'Rekha', 35000, 'D003')
('E005', 'Syed', 30000, 'D002')
('E006', 'Gurpreet', 80000, 'D003')
('E007', 'Susan', 85000, 'D004')

In [3]:
# Execute a SQL query
cur.execute("SELECT * FROM department;")

# Fetch the results
rows = cur.fetchall()

# Print the results
for row in rows:
    print(row)

('D001', 'Accounts', 'B1')
('D002', 'Marketing', 'B2')
('D003', 'Sales', 'B3')
('D004', 'Production', 'B1')

In [4]:
# Execute a SQL query
cur.execute("SELECT eid FROM employee WHERE deptid = 'D003' AND salary > 35000;")

# Fetch the results
rows = cur.fetchall()

# Print the results
for row in rows:
    print(row)

('E006',)
('E008',)

In [5]:
# Execute a SQL query
cur.execute("SELECT eid FROM employee WHERE deptid = 'D003' AND salary > 35000 EXCEPT SELECT e.eid FROM employee e, department d WHERE e.deptid=d.deptid AND d.building='B3';")

# Fetch the results
rows = cur.fetchall()

# Print the results
for row in rows:
    print(row)

In [6]:
# Execute a SQL query
cur.execute("SELECT e.eid FROM employee e, department d WHERE e.deptid=d.deptid AND d.building in ('B2') UNION ALL SELECT eid FROM Employee WHERE deptid = 'D002' EXCEPT ALL SELECT eid FROM Employee WHERE deptid = 'D002';")

# Fetch the results
rows = cur.fetchall()

# Print the results
for row in rows:
    print(row)

('E002',)
('E011',)
('E005',)

In [7]:
#  rename employee table to employee_alt
cur.execute("ALTER TABLE employee RENAME TO employee_alt;")
conn.commit()

In [27]:
cur.execute("SELECT * FROM employee_alt;")
rows = cur.fetchall()
for row in rows:
    print(row)

('E001', 'Arun', 50000, 'D001')
('E002', 'William', 45000, 'D002')
('E003', 'Ramesh', 45000, 'D004')
('E004', 'Rekha', 35000, 'D003')
('E005', 'Syed', 30000, 'D002')
('E006', 'Gurpreet', 80000, 'D003')
('E007', 'Susan', 85000, 'D004')
('E008', 'N K N', 60000, 'D003')
('E009', 'A Ray', 55000, 'D001')
('E010', 'Meghna S', 70000, 'D001')
('E011', 'R R Choudhary', 40000, 'D002')
('E012', 'A', 90000, 'D004')

In [28]:
#  create a table with first 7 rows of employee_alt table
cur.execute("CREATE TABLE employee AS SELECT * FROM employee_alt LIMIT 7;")
conn.commit()

In [29]:
cur.execute("SELECT * FROM employee;")
rows = cur.fetchall()
for row in rows:
    print(row)

('E001', 'Arun', 50000, 'D001')
('E002', 'William', 45000, 'D002')
('E003', 'Ramesh', 45000, 'D004')
('E004', 'Rekha', 35000, 'D003')
('E005', 'Syed', 30000, 'D002')
('E006', 'Gurpreet', 80000, 'D003')
('E007', 'Susan', 85000, 'D004')

In [10]:
# Execute a SQL query
cur.execute("SELECT e.eid FROM employee e, department d WHERE e.deptid=d.deptid AND d.building in ('B2') UNION ALL SELECT eid FROM Employee WHERE deptid = 'D002' EXCEPT ALL SELECT eid FROM Employee WHERE deptid = 'D002';")

# Fetch the results
rows = cur.fetchall()

# Print the results
for row in rows:
    print(row)

('E002',)
('E005',)

In [11]:
cur.execute("SELECT MIN(salary), deptid FROM employee GROUP BY deptid INTERSECT SELECT e1.salary,e1.deptid FROM Employee e1, Employee e2 WHERE e1.salary > e2.salary;")
rows = cur.fetchall()
for row in rows:
    print(row)

(50000, 'D001')
(45000, 'D004')
(35000, 'D003')

In [12]:
cur.execute("SELECT eid FROM employee, department EXCEPT ALL select eid from employee EXCEPT ALL select eid from employee;")
rows = cur.fetchall()
for row in rows:
    print(row)

('E001',)
('E001',)
('E002',)
('E002',)
('E003',)
('E003',)
('E004',)
('E004',)
('E005',)
('E005',)
('E006',)
('E006',)
('E007',)
('E007',)

In [13]:
len(rows)

14

In [36]:
cur.execute("SELECT eid FROM employee;")
eids = []
rows = cur.fetchall()
for row in rows:
    eids.append(row[0])
print(eids)
print(len(eids))

['E001', 'E002', 'E003', 'E004', 'E005', 'E006', 'E007']
7

In [34]:
cur.execute("SELECT eid FROM employee, department;")
rows = cur.fetchall()
eids = []
for row in rows:
    eids.append(row[0])
print(eids)
print(len(eids))

['E001', 'E002', 'E003', 'E004', 'E005', 'E006', 'E007', 'E001', 'E002', 'E003', 'E004', 'E005', 'E006', 'E007', 'E001', 'E002', 'E003', 'E004', 'E005', 'E006', 'E007', 'E001', 'E002', 'E003', 'E004', 'E005', 'E006', 'E007']
28

In [35]:
cur.execute("SELECT eid FROM employee, department EXCEPT ALL select eid from employee;")
rows = cur.fetchall()
eids = []
for row in rows:
    eids.append(row[0])
print(eids)
print(len(eids))

['E007', 'E007', 'E007', 'E002', 'E002', 'E002', 'E004', 'E004', 'E004', 'E001', 'E001', 'E001', 'E006', 'E006', 'E006', 'E005', 'E005', 'E005', 'E003', 'E003', 'E003']
21

In [37]:
cur.execute("SELECT eid FROM employee, department EXCEPT ALL select eid from employee EXCEPT ALL select eid from employee;")
rows = cur.fetchall()
eids = []
for row in rows:
    eids.append(row[0])
print(eids)
print(len(eids))

['E001', 'E001', 'E002', 'E002', 'E003', 'E003', 'E004', 'E004', 'E005', 'E005', 'E006', 'E006', 'E007', 'E007']
14

In [38]:
cur.execute("SELECT SUM(salary) FROM employee WHERE salary > 35000 GROUP BY deptid HAVING SUM(salary)>50000 AND SUM(salary)<100000;")
rows = cur.fetchall()
for row in rows:
    print(row)

(80000,)

In [39]:
cur.execute("SELECT SUM(salary) FROM employee WHERE salary > 45000 GROUP BY deptid;")
rows = cur.fetchall()
for row in rows:
    print(row)

(85000,)
(80000,)
(50000,)

In [49]:
# Close the cursor and the connection
cur.close()
conn.close()